{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}
      主页
    {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>

</head>


<body>
  <h1>慕课学生作业成绩评测系统<small>Beta V0.0.1</small></h1>
  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-4"><a href="{% url 'mingdan' %}"><button type="button" class="btn btn-primary" >学生名单</button></a></div>
      <div class="col-4"><a href="{% url 'once' %}"><button type="button" class="btn btn-primary" >单次成绩分析</button></a></div>
      <div class="col-2"></div>
    </div>
  </div>
  {% block content %}
    
  {% endblock content %}
</body>
</html>
